.darkMode {
  display: flex;
  align-items: center;
  width: auto;
}

.darkMode h5 {
  font-size: 17px;
  margin-right: 10px;
  margin-top: 8px;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 23.8px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 23.8px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18.2px;
  width: 18.2px;
  bottom: 2.8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
